In [213]:
%load_ext sql
%sql sqlite:///AuctionBase.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [214]:
%reload_ext sql

In [215]:
%sql SELECT count(*) FROM user

 * sqlite:///AuctionBase.db
Done.

[(13422,)]

In [216]:
%%sql SELECT COUNT(*) AS NumOfNyUsers 
        FROM USER U
        WHERE U.Location = "New York"

 * sqlite:///AuctionBase.db
Done.

[(80,)]

In [217]:
%%sql SELECT COUNT(*)
      FROM(SELECT COUNT(*) AS NumOfCategories
            FROM Category C, Item I
            WHERE C.ItemId = I.ItemId 
            GROUP BY C.ItemId
            HAVING NumOfCategories = 4
            )

 * sqlite:///AuctionBase.db
Done.

[(8365,)]

In [218]:
%%sql SELECT I.ItemId
        FROM Item I
        JOIN (
            SELECT MAX(Currently) AS MAX_PRICE
            FROM Item
        ) AS MaxPrice
        ON I.Currently = MaxPrice.MAX_PRICE

 * sqlite:///AuctionBase.db
Done.

[(1046871451,)]

In [219]:
%%sql SELECT COUNT(DISTINCT U.UserId) AS NumSellersWithHighRating
FROM User U
JOIN Item I ON U.UserId = I.UserId
WHERE U.Rating > 1000

 * sqlite:///AuctionBase.db
Done.

[(3130,)]

In [220]:
%%sql SELECT COUNT(DISTINCT B.UserId) AS NumOf_SellAndBid
        FROM Bid B, Item I
        WHERE B.UserId  = I.UserId

 * sqlite:///AuctionBase.db
Done.

[(6717,)]

In [221]:
%%sql SELECT COUNT(DISTINCT c.Category_Name) AS Number_of_Categories
FROM Category c,  Bid b
WHERE c.ItemId = b.ItemId
AND b.Amount > 100 
AND b.Amount != "NULL"

 * sqlite:///AuctionBase.db
Done.

[(150,)]

In [212]:
!sqlite3 AuctionBase.db < query1.sql
!sqlite3 AuctionBase.db < query2.sql
!sqlite3 AuctionBase.db < query3.sql
!sqlite3 AuctionBase.db < query4.sql
!sqlite3 AuctionBase.db < query5.sql
!sqlite3 AuctionBase.db < query6.sql
!sqlite3 AuctionBase.db < query7.sql

13422
80
8365
1046871451
3130
6717
150