In [154]:
%load_ext sql
%sql sqlite:///AuctionBase.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [155]:
%sql SELECT count(*) FROM user -- 1. Find the number of users in the database.

 * sqlite:///AuctionBase.db
Done.

[(13422,)]

In [156]:
%%sql SELECT COUNT(*) AS NumOfNyUsers 
        FROM USER U
        WHERE U.Location = "New York" --2. Find the number of users from New York (i.e., users whose location is the string "New York").

 * sqlite:///AuctionBase.db
Done.

[(80,)]

In [157]:
%%sql SELECT COUNT(*)
      FROM(SELECT COUNT(*) AS NumOfCategories
            FROM Category C, Item I
            WHERE C.ItemId = I.ItemId 
            GROUP BY C.ItemId
            HAVING NumOfCategories = 4
            )  --   3. Find the number of auctions belonging to exactly four categories.

 * sqlite:///AuctionBase.db
Done.

[(8365,)]

In [158]:
%%sql SELECT I.ItemId, MAX(I.Currently) AS MAX_PRICE  --we just need the ItemID, not the price
        FROM Item I        --4. Find the ID(s) of auction(s) with the highest current price.

 * sqlite:///AuctionBase.db
Done.

[(1046871451, 18000.0)]

In [159]:
%%sql SELECT I.ItemId
        FROM Item I
        JOIN (
            SELECT MAX(Currently) AS MAX_PRICE
            FROM Item
        ) AS MaxPrice
        ON I.Currently = MaxPrice.MAX_PRICE;

 * sqlite:///AuctionBase.db
Done.

[(1046871451,)]

In [160]:
%%sql SELECT COUNT(DISTINCT U.UserId) AS NumSellersWithHighRating
FROM User U
JOIN Item I ON U.UserId = I.UserId
WHERE U.Rating > 1000; -- 5. Find the number of sellers whose rating is higher than 1000.

 * sqlite:///AuctionBase.db
Done.

[(3130,)]

In [161]:
%%sql SELECT COUNT(DISTINCT B.UserId) AS NumOf_SellAndBid
        FROM Bid B, Item I
        WHERE B.UserId  = I.UserId     -- 6. Find the number of users who are both sellers and bidders.

 * sqlite:///AuctionBase.db
Done.

[(6717,)]

In [ ]:
%%sql SELECT COUNT(DISTINCT c.Category_Name) AS Number_of_Categories
FROM Category c,  Bid b
WHERE c.ItemId = b.ItemId
AND b.Amount > 100 
AND b.Amount != "NULL"  -- 7. Find the number of categories that include at least one item with a bid of more than $100.

In [163]:
%sql SELECT sql FROM sqlite_master;

 * sqlite:///AuctionBase.db
Done.

[('CREATE TABLE Item (\n    ItemId INTEGER NOT NULL,\n    UserId TEXT,\n    Name TEXT,\n    Number_of_Bids INTEGER,\n    First_Bid REAL,\n    Buy_Price REAL,\n    Currently REAL,\n    Started DATETIME,\n    Ends TEXT,\n    Description TEXT,\n    PRIMARY KEY(ItemId)\n)',),
 ('CREATE TABLE User (\n    UserId TEXT NOT NULL UNIQUE,\n    Location TEXT,\n    Country TEXT,\n    Rating INTEGER,\n    PRIMARY KEY(UserId)\n)',),
 (None,),
 ('CREATE TABLE Category (\n    Category_Name TEXT NOT NULL,\n    ItemId INTEGER NOT NULL,\n    FOREIGN KEY (ItemId) REFERENCES Item(ItemId) PRIMARY KEY(Category_Name, ItemId)\n)',),
 (None,),
 ('CREATE TABLE Bid (\n    ItemId INTEGER NOT NULL,\n    UserId INTEGER NOT NULL,\n    Time DATETIME,\n    Amount REAL NOT NULL,\n    FOREIGN KEY(ItemId) REFERENCES Item(ItemId) FOREIGN KEY(UserId) REFERENCES User(UserId) PRIMARY KEY(ItemId, UserId, Amount)\n)',),
 (None,)]