Welcome to IPython notebook!
--------------------------

Time to get on with it and print the ceremonial `"Hello world!`.

To execute a cell, click on it, and then use SHIFT+ENTER (this will execute the contents of the cell, and move down to the next one!)

There are other useful keyboard commands (see the Help menu) and the menu bar can always be used instead as well

In [ ]:
print ("Hello world!")

Now, for advanced users only:

In [ ]:
import sys, time
message = "HELLO WORLD!"

L = len(message)
for i in range(100):
    time.sleep(0.1)
    j = i % L
    if j > 0:
        sys.stdout.write("\r" + message[-j:] + " " + message[:L-j])
    else:
        sys.stdout.write("\r" + message)
    sys.stdout.flush()

When we want to work with SQL easily in an Ipython notebook, we'll load the ipython-sql [extension](https://github.com/catherinedevlin/ipython-sql). 

If you do not have this extension installed please type 
~~~~
pip install ipython-sql
~~~~

**Note: DO NOT PANIC** 
* Don't worry if you get (a) a big red-highlighted warning or (b) a note that the extension has already been loaded!  As long as your SQL commands work, it's loaded properly!

* If you don't understand all the SQL queries... very soon, you will!

In [ ]:
%load_ext sql

Next, we'll load an SQLite database stored as a file as follows:

**NOTE: We load a file below ("world-db"), which must be in the same directory as the notebook. For this activity, make sure to download the one from Canvas!**

In [ ]:
%sql sqlite:///world-db

The database `world` has 3 tables: 
> * `City`
> * `Country`
> * `CountryLanguage`

To find the schema of a table, we can type the following command:

In [ ]:
%sql SELECT sql FROM sqlite_master;

Let's start with a simple query: what is the population of the USA?

In [ ]:
%%sql 
SELECT Population
FROM Country 
WHERE Code = 'USA';

**Exercise #1**: write a query that returns the countries that gained independence after 1989, along with the year they gained independence.

To return all attributes of a table, we use the `*` in the SELECT clause. For instance, the following query returns all the attributes for cities with population over 1 million in the US.

In [ ]:
%%sql 
SELECT *
FROM City
WHERE Population >= 1000000 AND CountryCode = 'USA';

Keep in mind that for constants we need to use single quotes!

We can rename an attribute in the output schema by using the SQL command AS. For example:

In [ ]:
%%sql
select Name AS LargeUSACity
FROM City
WHERE Population >= 1000000 AND CountryCode = 'USA';

It is possible to also perform arithmetic operations inside the SELECT clause. For example, to return the population in millions, we can use division.

In [ ]:
%%sql
SELECT Name, (Population / 1000000) AS Population
FROM City
WHERE Population >= 1000000 AND CountryCode = 'USA';

Observe that division here behaves as integer division. If we want to get a float value, we can rewrite the above query (similar to type casting):

In [ ]:
%%sql
SELECT Name, Population / 1000000.0
FROM City
WHERE Population >= 1000000 AND CountryCode = 'USA';

Let's do some pattern matching! Find the countries that have a form of goverment that contains the word monarchy

In [ ]:
%%sql
SELECT Name, GovernmentForm
FROM Country
WHERE GovernmentForm LIKE '%monarchy%';

Next, suppose that we want to find out all the different forms a government. Let's try the following:

In [ ]:
%%sql
SELECT GovernmentForm
FROM Country ;

The above query did not return the desired result, because it keeps a separate copy for each occurrence of the same value in the table. To remove the duplicates, we simply need to add the DISTINCT keyword.

In [ ]:
%%sql
SELECT DISTINCT GovernmentForm
FROM Country ;

We can use ORDER BY to order the city population by decreasing population.

In [ ]:
%%sql
SELECT Name, Population/1000000 AS Pop
FROM City
WHERE Population >= 1000000 AND CountryCode = 'USA'
ORDER BY Pop DESC;

LIMIT is very useful if we want to look at only a few rows of a table.

In [ ]:
%%sql
SELECT *
FROM City
LIMIT 2;

**Exercise #2**: write a query that returns the two most populous cities in the US.