Problem Set 3
=======

### Instructions and Setup

* Run the cell below to load the database (make sure `hospital.db` is in the current directory)
* If you incorrectly changed the database, you can always re-download `hospital.db` for a fresh start.
* You **may** create new cells in the notebook to use for e.g. testing, debugging, etc.- this is encouraged in fact!. However, make sure that
  * **You remove any test queries or unnecessary queries in the final submission, and**
  * **Your final answer for each question is in its own designated cell**
* When you see `In [*]:` to the left of the cell you are executing, this means that the code / query is _running_.
  * * **If execution is stuck - i.e. the cell has been running for too long, try restarting the SQL connection and restarting the entire python kernel**
  * To restart kernel using the menu bar: `Kernel >> Restart >> Clear all outputs & restart`, then re-execute the sql connection cell below
  * You will also need to restart the connection if you want to load a different version of the database file

In [1]:
# Load the SQL extension. Allows you to run SQL queries in your notebook.
%load_ext sql

# Connect to a SQLite database (named hospital.db) located in the current directory.
# Note: If 'hospital.db' isn't present, an empty database will be created.
%sql sqlite:///hospital.db

Problem 1: Verifying Functional Dependencies [20 points]
---------

For this part, you will need to provide a _single_ SQL query which will check whether a certain condition holds on the **hospital** table in the provided database:

In [9]:
%sql select * from hospital limit 5;

 * sqlite:///hospital.db
Done.

[(10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-CARD-2'),
 (10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-INF-1'),
 (10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-INF-2'),
 (10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-INF-3'),
 (10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-INF-4')]

You need to evaluate any requested conditions in the following way: **your query should return an empty result if and only if the condition holds on the instance.**  If the condition doesn't hold, your query should return something non-empty, but it doesn't matter what this is (hint: find contradictions).

Note our language here: the conditions that we specify cannot be proved to hold **in general** without knowing the externally-defined functional dependencies; so what we mean is, _check whether they **are not violated** for the provided instance_.

You may assume that there are no `NULL` values in the tables.

### Part (a)  [10 points]

Is $\{provider\}$ a **superkey** for relation $Hospital$?

In [17]:
%%sql 
-- Part 1a (do not remove/change this line)
-- Your query goes in this cell below this line
SELECT h.provider, COUNT(*) AS numOfRows
FROM hospital h
GROUP BY h.provider

 * sqlite:///hospital.db
Done.

[(10001, 25),
 (10005, 25),
 (10006, 25),
 (10007, 25),
 (10008, 25),
 (10009, 25),
 (10010, 25),
 (10011, 25),
 (10012, 25),
 (10015, 25),
 (10016, 25),
 (10018, 25),
 (10019, 25),
 (10021, 25),
 (10022, 25),
 (10023, 25),
 (10024, 25),
 (10025, 25),
 (10027, 25),
 (10029, 25),
 (10032, 25),
 (10033, 25),
 (10034, 25),
 (10035, 25),
 (10036, 25),
 (10038, 28),
 (10039, 28),
 (10040, 25),
 (10043, 25),
 (10044, 25),
 (10045, 25),
 (10046, 28),
 (10047, 25),
 (10049, 25),
 (10050, 20),
 (10055, 17),
 (10056, 5),
 (10085, 1),
 (10086, 25),
 (10087, 13),
 (10108, 20),
 (10158, 2),
 (10164, 18),
 (20017, 18),
 (20018, 2)]

In [24]:
%%sql 
-- Part 1a CHECK da se trgne
SELECT DISTINCT h.provider, COUNT(*) AS numOfRows
FROM hospital h
GROUP BY h.provider, h.condition, h.measure_code
HAVING numOfRows > 1

 * sqlite:///hospital.db
Done.

[]

### Part (b) [10 points]

Does $\{Zip\} \rightarrow \{City, State\}$ hold for relation $Hospital$?

In [38]:
%%sql 
-- Part 1b (do not remove/change this line)
-- Your query goes in this cell below this line

SELECT h.zip, COUNT(*) AS zipCount
FROM (SELECT DISTINCT h.state, h.city, h.zip
        FROM hospital h) AS h
GROUP BY h.zip
HAVING zipCount > 1

 * sqlite:///hospital.db
Done.

[]

Problem 2: Superkeys & Decompositions [25 points]
---------

Consider a relation $S(A,B,C,D,E,F)$ with the following functional dependencies:

* $\{A\} \rightarrow \{D\}$
* $\{A\} \rightarrow \{E\}$
* $\{D\} \rightarrow \{C\}$
* $\{D\} \rightarrow \{F\}$

In each part of this problem, we will examine different properties the provided schema.

To answer **yes**, provide python code that assigns the variable ```answer``` to ```True``` and assigns ```explanation``` to be a python string which contains a (short!) explanation of why.  For example:

```python
answer = True
explanation = "All keys are superkeys."
```

To answer **no**, provide python code that assigns the variable ```answer``` to ```False``` and assigns ```explanation``` to be a python string which contains a (short!) explanation of why.  For example:

```python
answer = False
explanation = "D is not a superkey because its closure is {D,C,F}."
```

### Part (a) [5 points]

Is it correct that ${A,B}$ is a superkey?

-- Part 2a (do not remove/change this line)
-- Your Answer (TRUE/FALSE): 
-- Explanation: 
answer = True
explanation = "(A,B)* = {A,B,C,D,E,F}, hence (A,B) is superkey."

### Part (b) [5 points]

Is it correct that the decomposition $ABC$, $CDE$, $EFA$ is lossless-join?

-- Part 2b (do not remove/change this line)
-- Your Answer (TRUE/FALSE): 
-- Explanation: 
answer = False
explanation = "(ABC‚à©CDR = C) C->ABC is false or (ABC‚à©CDE = C) C->CDE is false" ne e tocno

### Part (c) [5 points]

Is it correct that the decomposition $ABC$, $CDE$, $EFA$ is dependency preserving?

-- Part 2c (do not remove/change this line)
-- Your Answer (TRUE/FALSE): 
-- Explanation: 
answer = False
explanation = "FDs A->D and D->F are not preserved, cannot be created without joinning tables."

### Part (d) [5 points]

Is the functional dependency $\{A\} \rightarrow \{E,F\}$ logically implied by FDs present in the relation?

-- Part 2d (do not remove/change this line)
-- Your Answer (TRUE/FALSE): 
-- Explanation: 
answer = True
explanation = "A->E is in FD, and A->F is implied by A->D D->F. Hence we have: A->E,F"

### Part (e) [5 points]

Is it correct that relation $S$ is in BCNF?

-- Part 2e (do not remove/change this line)
-- Your Answer (TRUE/FALSE): 
-- Explanation: 
answer = False
explanation = "No it is not, becuase A,D is not super key nor B is included in (A,D)*"

Problem 3: Relational Algebra [25 points]
---------

Consider the following relational schema for conference publications:
*  `Article(artid, title, confid, numpages)`
*  `Conference(confid, name, year, location)`
*  `Author(artid, pid)`
*  `Person(pid, name, affiliation)`

Express the following queries in the extended Relational Algebra (you can also use the aggregation operator if necessary). To write the RA expression, use the LaTex mode that ipython notebook provides. For example:

$$\pi_{name}(\sigma_{affiliation="UW-Madison"}(Person))$$

### Part (a) [8 points]

Output the name of every person affiliated with `UW-Madison` who has published an article in a 2021 conference.

``` 
-- Part 3a (do not remove/change this line)
-- Your answer goes in this cell below this line
```
Pi name ((ùúé conference.year=2021(Conference)) ‚ãà Article ‚ãà (ùúé person.affiliation = "UW-Madison"(Person)) ‚ãà Author)

### Part (b) [9 points]

Output the names of the people who coauthored an article with `John Doe`. Be careful: a person cannot be coauthor with herself!

``` 
-- Part 3b (do not remove/change this line)
-- Your answer goes in this cell below this line
```

Pi name(Pi artid(ùúé person.name = "John Doe"(Person) ‚ãà Author) ‚ãà (Pi artid (ùúé person.name != "John Doe"(Person) ‚ãà Author))

### Part (c) [8 points]

Translate the following SQL query to Relational Algebra.

```sql
SELECT pid, COUNT(A.artid)
FROM Article A, Conference C, Author U
WHERE A.confid = C.confid AND C.name = "PODS" AND U.artid = A.artid
GROUP BY pid ;
```

``` 
-- Part 3c (do not remove/change this line)
-- Your answer goes in this cell below this line
```
Y Author.pid, COUNT(Article.artid)(Article ‚ãà ùúé Conference.name = "PODS"(Conference) ‚ãà Author)